// https://befonts.com/br-sonoma-font-family.html

@font-face {
  font-family: 'BR Sonoma Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/br-sonoma/BRSonoma-Regular-BF654c45266c042.otf');
  src: url('/fonts/br-sonoma/BRSonoma-Regular-BF654c45266c042.otf')
    format('font/otf') local('BR Sonoma Regular');
}
