// Extracted from:
// - https://befonts.com/br-sonoma-font-family.html

@font-face {
  font-family: 'BR Sonoma';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/br-sonoma/BRSonoma-Regular.otf');
  src: url('/fonts/br-sonoma/BRSonoma-Regular.otf') format('font/otf')
    local('BR Sonoma Regular');
}

@font-face {
  font-family: 'BR Sonoma';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/br-sonoma/BRSonoma-SemiBold.otf');
  src: url('/fonts/br-sonoma/BRSonoma-SemiBold.otf') format('font/otf')
    local('BR Sonoma Regular');
}

@font-face {
  font-family: 'BR Sonoma';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/br-sonoma/BRSonoma-Bold.otf');
  src: url('/fonts/br-sonoma/BRSonoma-Bold.otf') format('font/otf')
    local('BR Sonoma Regular');
}
