@import './../../../assets/scss/utils.scss';
@import './../../../assets/scss/variables.scss';

.plans {
  @extend .grid-page;
  margin-bottom: 80px;
  padding-top: 20px;
  @media screen and (max-width: $mobile-width) {
    padding: 20px $page-padding 20px $page-padding;
    overflow: scroll;
  }
  &__options {
    display: flex;
    gap: 32px;
    grid-area: 1/2/1/12;
    @media screen and (max-width: $mobile-width) {
      grid-area: 1/1/1/5;
    }
    &--mobile-scroll-spacer {
      display: none;
      @media screen and (max-width: $mobile-width) {
        display: block;
        padding-left: 0.01px;
      }
    }
    &__plan {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 68px 32px 50px 32px;
      position: relative;
      @media screen and (max-width: $mobile-width) {
        min-width: 250px;
      }
      &--recommended {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 8px;
        gap: 4px;
        background: #7df0ba;
        border-radius: 6px;
        top: 40px;
        font-size: 12px;
        font-weight: 600;
      }
      &--top {
        display: flex;
        gap: 16px;
        &__left {
          &--title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 24px;
          }
          &--price-message {
            color: #7981b2;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 4px;
          }
          &--price {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
      &--spacer {
        margin: 24px 0;
        background-color: #d7dbf5;
        height: 1px;
        width: 100%;
      }
      &--description {
        list-style-type: disc;
        line-height: 1.6;
        padding-left: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
        font-size: 14px;
      }
      &--select-button {
        margin-top: auto;
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        padding: 14px 32px;
        background: #ff1c44;
        color: #fff;
        border-radius: 32px;
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}
